* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    width: 100vw;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
    background-color: #000000;
    margin-bottom: 1rem;
}

.display-none {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.banner__user {
    display: none;
    color: rgba(255, 255, 255, .3);
}

.banner__user a {
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
}

.banner__user a:hover {
    content: '';
    color: #f08c00;
}

.banner h1 {
    font-size: 2.4rem;
    padding: 1rem 1rem;
}

.banner__menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.banner__search-box {
    display: none;
}

.banner__search-box > a {
    text-decoration: none;
}

.banner__search-box > a > i {
    display: block;
    color: #ffffff;
    padding: .5rem;
}

.banner__search-box > a > i:hover {
    content: '';
    color: #f08c00;
}

.banner__search {
    width: 8rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background-color: #000000;
    color: rgba(255, 255, 255, .5);
    font-family: 'Poppins', sans-serif;
}

.banner__search::placeholder {
    content: '';
    font-size: .7rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 1rem 1rem .5rem;
}

.banner__search:focus {
    outline: none;
}

.banner__gnb {
    display: none;
}

.banner__gnb-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.banner__gnb-menu a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #ffffff;
}

.banner__gnb-menu a:hover {
    color: #f08c00;
}


.banner__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__icons li {
    list-style: none;
}

.banner__icons a {
    text-decoration: none;
}

.banner__user-icon
, .banner__search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: .8rem;
    color: #ffffff;
}

.banner__user-icon:hover
, .banner__search-icon:hover{
    content: '';
    color: #f08c00;
}

/* main image article */

.article__main-image {
    width: 100vw;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
    padding: 2rem;
    background-image: url('./assets/main-image.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.article__main-image h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: right;
    line-height: 1.3em;
}

.strong-new {
    font-size: 3rem;
    font-weight: 900;
}

.strong-collection {
    font-size: 3rem;
    font-weight: 500;
}

.article__main-image > p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.3em;
    color: #000000;
}

.article__main-image a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #f08c00;
    background-color: #f08c00;
    padding: 1rem;
}

.article__product-card {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.article__product-card-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 1rem auto;
    padding: 1rem;
}

.article__product-card-info h2 {
    display: block;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: .2em;
}

.article__product-card-info h3 {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    color: #adb5bd;
}

.article__product-card-info img {
    width: 10rem;
    display: block;
    margin-bottom: 1rem;
}

.article__product-card-info strong {
    color: #f08c00;
    font-size: 1.4rem;
    font-weight: 700;
}

.article__product-card-horizontal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.article__product-card-horizontal article {
    display: flex;
    padding: 1rem;
}

.article__product-card-horizontal article > img {
    display: block;
    width: 10rem;
    margin-right: 2rem;
    padding: 1rem;
}

.article__product-card-horizontal-detail {
    position: relative;
}

.article__product-card-horizontal-detail h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.article__product-card-horizontal-detail span {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #adb5bd;
}

.article__product-card-horizontal-detail__origin-price {
    color: #adb5bd;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: line-through;
    padding-right: 1rem;
}

.article__product-card-horizontal-detail__price {
    color: #f08c00;
    font-size: 1.4rem;
    font-weight: 700;
}

.section__about-us {
    width: 100vw;
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 3rem;
    line-height: 1.6;
    
}

.section__about-us h2 {
    font-size: 2.3rem;
}

.section__about-us p {
    display: block;
    margin-bottom: 2rem;
}

.section__about-us a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #f08c00;
    padding: .5rem 1rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }

    .banner {
        justify-content: space-between;
        padding: 0 2rem;
    }

    .banner__menu-bar {
        display: none;
    }

    .banner__user {
        display: block;
    }

    .banner__search-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        border: 1px solid rgba(241,243,245,.1);
        padding: .3rem;
    }

    .banner__gnb {
        display: block;
    }

    .banner__gnb-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .banner__icons {
        display: none;
    }

    .article__product-card-horizontal {
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
    }
}